@import "normalize.css";
@import "variables.css";

/* MENU PRINCIPAL */
.menu{
    width: 100%;
    height: 100px;
    padding: 10PX;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrincipal);
    box-sizing: border-box;
}

.menu__nombre{
    width: 15%;
    text-align: center;
    border-bottom: 2px solid var(--colorOscuro);
    box-sizing: border-box;
}

.menu__nombre h1{
    margin: 0;
    padding-bottom: 5px;
    font-family: var(--titulos);
    letter-spacing: 4px;
}

.menu__enlaces{
    width: 50%;
    height: 50px;
    border: 1px solid var(--colorOscuro);
    box-sizing: border-box;
}

.menu__enlaces ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu__enlaces li{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__enlaces li:last-of-type{
    display: none;
}

.menu__enlaces a, .menu__enlaces span{
    color: var(--colorOscuro);
    letter-spacing: 2px;
    font-family: var(--textos);
    text-decoration: none;
}

.menu__enlaces li:hover{
    background-color: rgba(0, 0, 0, .2);
}

.menu__enlaces li:hover a, .menu__enlaces li:hover span{
    color: var(--colorClaro);
    cursor: pointer;
}

.menu__enlaces li:hover a{
    font-style: italic;
}

/* CONTENEDOR DE ENLACES Y DEL MAPA */
.contacto{
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 100px;
}

.contacto__enlaces{
    width: 50%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/76/48/0b/76480b21b3d75e07dad04d662c2a66c6.jpg');
    background-size: cover;
}

.contacto__mapa{
    width: 50%;
    height: 100%;
}

.contacto__mapa-titulo, .contacto__enlaces-titulo{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/76/48/0b/76480b21b3d75e07dad04d662c2a66c6.jpg');
    box-sizing: border-box;
}

.contacto__mapa-titulo h2, .contacto__enlaces-titulo h2{
    font-size: 30px;
    font-family: var(--titulos);
    letter-spacing: 5px;
}

.contacto__mapa-ubicacion, .contacto__enlaces-enlaces{
    width: 100%;
    height: 470px;
    box-sizing: border-box;
}

.contacto__enlaces-enlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icono-enlace{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid var(--colorOscuro);
    border-radius: 50%;
    cursor: pointer;
}

.icono-enlace:hover {
    background-color: rgba(0, 0, 0, .5);
}

.icono-enlace:hover a{
    color: var(--colorClaro);
}

.icono-enlace a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--colorOscuro);
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 10px 20px;
    padding-bottom: 20px;
    background-color: var(--colorPrincipal);
    box-sizing: border-box;
}

.footer h3{
    margin: 10px 0;
    font-size: 1.3em;
    font-family: var(--titulos);
}

.footer h4{
    margin: 5px 0;
    font-family: var(--textos);
}

.footer h5{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: .9em;
    font-family: var(--textos);
}

.footer a{
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid var(--colorOscuro);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--colorOscuro);
    text-decoration: none;
}

/* MENU RESPONSIVE */
.menu-responsive{
    width: 100%;
    height: 50%;
    display: none;
    position: fixed;
    transform: translateX(-100%);
    transition-duration: .5s;
    border-top: 2px solid var(--colorOscuro);
    background-color: rgba(42, 255, 0, .9);
    box-sizing: border-box;
}

.menu-responsive ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}

.menu-responsive li{
    width: 70%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.menu-responsive a, .menu-responsive span{
    color: var(--colorOscuro);
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: var(--textos);
    text-decoration: none;
}

.menu-responsive li:hover{
    background-color: rgba(0, 0, 0, .7);
}

.menu-responsive li:hover a, .menu-responsive li:hover span{
    font-style: italic;
    color: var(--colorClaro);
}
/* DISEÑO RESPONSIVE */
@media only screen and (min-width: 320px) {
    .menu__nombre {
        width: 50%;
    }

    .menu__enlaces {
        width: 20%;
    }

    .menu__enlaces li {
        width: 100%;
        display: none;
    }

    .menu__enlaces li:last-of-type {
        display: flex;
    }

    .menu-responsive {
        display: flex;
    }

    .contacto {
        height: auto;
        flex-direction: column;
    }

    .contacto__enlaces, .contacto__mapa{
        width: 100%;
    }
}

@media only screen and (min-width: 991px) {
    .menu__nombre {
        width: 20%;
    }

    .menu__enlaces {
        width: 50%;
    }

    .menu__enlaces li {
        width: 25%;
        display: flex;
    }

    .menu__enlaces li:last-of-type {
        display: none;
    }

    .contacto {
        height: auto;
        flex-direction: row;
    }

    .contacto__enlaces, .contacto__mapa{
        width: 50%;
    }
}