/* IMPORTAR LAS TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Ubuntu:wght@300&display=swap');


/* VARIABLES DEL PROYECTO */
:root{
    /* FUENTES */
    --titulos: 'Rowdies', cursive;
    --textos: 'Ubuntu', sans-serif;

    /* COLORES */
    --colorClaro: #fff;
    --colorOscuro: #000;
    --colorPrincipal: #2AFF00;
}